* {
	margin:0;
	padding:0;
}
body,input,select{
	font-family: "微软雅黑", "新宋体", "宋体",Arial, Verdana, Helvetica, sans-serif;;
	font-size: 1rem;
	color:#333;
	background:#FFF;
	text-align:left;
}
ul li{
	list-style-type:none;
	float:left;
	margin:0 .44rem;
	height: 2.2rem;
}

/*清除浮动*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	overflow: hidden;
}
a {
	color:#FFF;
	text-decoration:none;
}
.color{
	color: #297ED9;
}
ul {
	list-style:none;
}
h3{
	font-size: 22px;
}
input{
	border: 0;
	border-radius: 5px;
	padding: 0 10px;
	vertical-align: middle;
	height: 30px;
}
button{
	border: 1px solid #F5F6F8;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	vertical-align: middle;
	background: #F5F6F8;
}
button.full{
	border-color: #297ED9;
	background: #297ED9;
	color: #fff;
}
button.hollow{
	border-color: #297ED9;
	background: #fff;
	color: #297ED9;
}
img{
	border: 0;
}
#menu li{
	list-style-type: none;
	float: left;
	margin: 0 3%;
	line-height: 3.2rem;
}

