/*Everok项目前端页面CSS*/
* {
	margin:0;
	padding:0;
}
body,input,select{
	font-family: "微软雅黑", "新宋体", "宋体",Arial, Verdana, Helvetica, sans-serif;;
	font-size:16px;
	color:#333;
	background:#FFF;
	text-align:left;
}

/*清除浮动*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	overflow: hidden;
}
a {
	color:#FFF;
	text-decoration:none;
}
.color{
	color: #297ED9;
}
ul {
	list-style:none;
}
h3{
	font-size: 22px;
}
input{
	border: 0;
	border-radius: 5px;
	padding: 0 10px;
	vertical-align: middle;
	height: 30px;
}
button{
	border: 1px solid #F5F6F8;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	vertical-align: middle;
	background: #F5F6F8;
}
button.full{
	border-color: #297ED9;
	background: #297ED9;
	color: #fff;
}
button.hollow{
	border-color: #297ED9;
	background: #fff;
	color: #297ED9;
}
img{
	border: 0;
}
.border-50{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.border-50 i{
	line-height: 20px;
}
.font-bold{
	font-weight: bold;
}
.pointer{
	cursor:pointer
}
/***  display ***/
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent!important;
  text-shadow: none!important;
  background-color: transparent!important;
  border: 0;
}
/** text **/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.display-none{
    display: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}


.black_overlay{
	display:none;
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color:black;
	z-index:1001;
	-moz-opacity:0.8;
	opacity:.80;
	filter:alpha(opacity=80);
}
.white_content{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	width: 1000px;
	height: 540px;
	margin: -291px 0 0 -501px;
	padding:16px;
	border:2px solid #CCC;
	background-color:white;
	z-index:1002;
	overflow:auto;
}

.search{
	float: right;
	background: #F2F8FF;
	border-radius: 5px;
	width: 70%;
	padding:0 10px;
	text-align: right
}
.search-more{
	padding-bottom: 10px;
	display: none;
}
.search-more input{
	width: 25%;
	margin: 0 2%;
}
.top{
	/*height: 50px;*/
	margin: 20px 0 20px 40px;
	line-height: 50px;
}
.tab{
	background: #F5F6F8;
	padding: 0 40px;
	line-height: 45px;
	text-align: center;
	overflow: auto
}
.tab>div{
	border-top: 5px solid #F5F6F8;
	width: 120px;
}
.tab .active{
	background: #FFF;
	border-top: 5px solid #297ED9;
}
.tab a{
	color: #333;
}
.list tr.detail{
	background: #F5F6F8;
}
.list tr td,.list tr th{
    border: 1px #F5F6F8;
	height: 3rem;
    border-style: none solid solid none;
}
.list tr:first-child td,.list tr:first-child th{
	border-style: solid solid solid none;
}
.list tr td:first-child{
	border-style: none solid solid solid;
}
.list tr:first-child td:first-child,.list tr th:first-child{
	border-style: solid solid solid solid;
}
.list tr th:first-child.th-children{
	border-style: none solid solid none;
}
.list tr td table tr td{
	height: 1.5rem;
}
.list_padding tr td {
	padding: 5px 20px;
}
.directory{
	margin: 20px;
	line-height: 2.4rem;
	width: 950px;
}
.directory tr td{
	border-bottom: 1px solid #F5F6F8;
	vertical-align: bottom;
	height: 60px;
}
.l-2rem tr td{
	height: 2rem;
}
.line-type{
	position: absolute;
	top: 2rem;
	width: 100%;
	background: #fff;
	display: none;
	z-index: 2;
	background: #F5F6F8;
	border: 1px solid #F5F6F8;
	border-style: none solid solid solid;
}

.round{
	height:12px;
	width:12px;
	float:left;
	border-radius:50%;
	margin:11px 0;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
    position: relative;
    cursor:pointer
}
.big .round{
	height:20px;
	width:20px;
	margin:7px 0;
	text-align:center;
	line-height:14px;
	font-size: 12px;
	line-height: 20px;
}
.round_top{
    position: absolute;
    top: -26px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 20px;
    border: 1px solid #ccc;
    color: #333;
    display: none;
    font-size: 12px;
}
.round_bottom{
    position: absolute;
    bottom: -12px;
    right: -8px;
    width: 14px;
    height: 14px;
    font-size: 12px;
}
.line{
	margin:16px 0;
	float:left;
	border-top:3px solid ;
	width:20px;
	height:0
}
.green .round,.green .line{
	border-color:#36AD4A;
	background: #36AD4A;
}
.green .round_bottom{
    color: #36AD4A;
}
.green .node{
	border-color:#36AD4A;
	color: #36AD4A;
}
.green-text{
    color: #36AD4A;
}
.blue .round,.blue .line{
	border-color:#297ED9;
	background: #297ED9;
}
.blue .round_bottom{
    color: #297ED9;
}
.blue .node{
	border-color:#297ED9;
	color: #297ED9;
}
.blue-text{
    color: #297ED9;
}
.lightskyblue .round,.lightskyblue .line{
	border-color:#35A1AB;
	background: #35A1AB;
}
.lightskyblue .round_bottom{
    color: #35A1AB;
}
.lightskyblue .node{
	border-color:#35A1AB;
	color: #35A1AB;
}
.lightskyblue-text{
    color: #35A1AB;
}
/*jason-start*/
.red .round,.red .line{
	border-color:#cc6252;
	background: #cc6252;
}
.red .round_bottom{
    color: #cc6252;
}
.red .node{
	border-color:#cc6252;
	color: #cc6252;
}
.red-text{
    color: #cc6252;
}
.yellow .round,.yellow .line{
	border-color:#a0a330;
	background: #a0a330;
}
.yellow .round_bottom{
    color: #a0a330;
}
.yellow .node{
	border-color:#a0a330;
	color: #a0a330;
}
.yellow-text{
    color: #a0a330;
}
.khaki .round,.khaki .line{
	border-color:#caa138;
	background: #caa138;
}
.khaki .round_bottom{
    color: #caa138;
}
.khaki .node{
	border-color:#caa138;
	color: #caa138;
}
.khaki-text{
    color: #caa138;
}
.aquamarine .round,.aquamarine .line{
	border-color:#317f7e;
	background: #317f7e;
}
.aquamarine .round_bottom{
    color: #317f7e;
}
.aquamarine .node{
	border-color:#317f7e;
	color: #317f7e;
}
.aquamarine-text{
    color: #317f7e;
}

/*jason-end*/
.node{
	float: left;
	border: 1px solid;
	width: 80px;
	height: 60px;
	text-align: left;
	font-size: 12px;
	padding: 5px;
	position: relative;
}
.node_bottom{
	bottom: 5px;right: 5px
}
.alpha{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
.children{
    display: none;
}
.page_list{
    margin:5px;
    text-align: center;
}
.page_list div{
    height: 24px;
}
.page_num{
    border: 1px solid #ccc;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    color: #297ED9;
    margin: 5px 0;
}
.page_num.gary{
    width: 60px;
    background: #F5F6F8;
}
.stage{
	background: #ccc;border-radius: 10px;padding: 0 10px;color: #FFF;margin: 0 5px;
	cursor: default;
}
.detail{
	text-align: left;font-size: 14px;display: none;
}
.fa_list>i{
	font-size: 16px;
}
.warning{
	position: absolute;left: -1px; top: -13px
}



#menu {
	height:60px;
	background:#333;
	font-size:1.3em;
	text-align:center;
}
#menu a {
	font-size:0.65em;
}
#menu li ul {
	display:none;
}
#menu li ul li {
	float:none;
	display:inline;
}
#menu li ul a {
	float:none;
	height:48px;
	line-height:48px;
	padding:0 10px;
	text-transform:capitalize;
}
#menu .height-auto {
	line-height:15px;
	padding:5px 10px;
}
.second-menu, .third-menu, .fourth-menu {
	position:absolute;
}
.first-menu>li {
	float:left;
	position:relative;
}
.first-menu a {
	float:left;
	display:block;
	padding:0 20px;
	height:58px;
	line-height:58px;
	width:137px;  
	background:#333;
	border-top:1px solid #4a4a4a;
	border-left:1px solid #4a4a4a;
	border-bottom:1px solid #242424;
	border-right:1px solid #242424;
	font-size:.7em;
}
.first-menu a:hover {
	background:#000;
	border-top:1px solid #050505;
	border-left:1px solid #050505;
}
.second-menu {
	top:60px;
	left:0;
	right:-1px;
}
.second-menu a {
	font-size:11px;
  width: 157px;
}
.second-menu a.have_icon {
	background:#3a3a3a;
}
.second-menu a.have_icon:hover {
	background:#297ED9;
}
.second-menu a.have_icon-02 {
	background:#3a3a3a;
}
.second-menu a.have_icon-02:hover {
	background:#297ED9;
}
.third-menu, .fourth-menu {
	width:177px;
	top:0;
	left:179px;
}
.third-menu a {
	background:#4c4c4c;
	font-weight:normal;
	border-top:1px solid #595959;
	border-left:1px solid #595959;
	border-bottom:1px solid #333;
	border-right:1px solid #333;
}
.first-menu a.setting_user{
    
    background: #297ED9;
    border-top: 1px solid #297ED9;
    border-left: 1px solid #4a4a4a;
    border-bottom: 1px solid #297ED9;
    border-right: 1px solid #297ED9;
}
/**** menu end ****/


